<ul>
  {% for block in blocks %}
  <li class="block">
    <pre><span class="hash">{{ block.short_hash() }}</span><button
      class="button button-ghost block-message"
      hx-get="/block?parent_hash={{ block.hash }}&message="
      hx-swap="beforeend"
      hx-target="body"
      hx-trigger="click"
      :disabled="disabled"
    > {{ block.message }}</button></pre>
  </li>
  {% endfor %}
  {% if !blocks.is_empty() %}
  <li
    hx-get="/blocks?all={{ show_all }}&page_size=2&page_offset={{ next_offset }}"
    hx-trigger="revealed"
    hx-swap="outerHTML"
  >
    Loading more blocks...
  </li>
  {% endif %}
</ul>
