<div x-data="{
  messageData: null,

  updateMessage() {
    const cookieValue = document.cookie
      .split('; ')
      .find((row) => row.startsWith('flash='))
      ?.split('=')[1];
    if (cookieValue) {
      this.messageData = JSON.parse(decodeURIComponent(cookieValue));
      setTimeout(() => {
        this.resetMessage();
      }, 5000);
    }
  },
  resetMessage() {
    this.messageData = null;
    document.cookie = 'flash=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
  },
  init() {
    this.updateMessage();
    htmx.on('htmx:afterRequest', (event) => {
      if (event.detail.xhr.status === 200) {
        this.updateMessage();
      }
    });
  },

  get level() {
    return this.messageData ? this.messageData.level.toLowerCase() : null;
  },
  get message() {
    return this.messageData ? this.messageData.message : null;
  },
}">
  <div x-show="!!message" :class="`flash-message flash-message-${level}`">
    <span x-text="message" class="flash-text"></span>
    <div class="flash-line"></div>
  </div>
</div>
